<a href="https://colab.research.google.com/github/LicaCepillo/LicaCepillo/blob/main/Probabilidade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**PROBABILIDADE**

In [27]:
import numpy as np
import pandas as pd

In [28]:
enem_sp = pd.read_csv('/content/drive/MyDrive/Python_projetos_reforço/enem_2019_tratado.csv',sep=',', encoding='iso-8859-1')

In [29]:
enem_guarulhos = enem_sp.loc[enem_sp.MUNICIPIO == 'Guarulhos']

In [30]:
enem_bauru = enem_sp.loc[enem_sp.MUNICIPIO == 'Bauru']

In [31]:
enem_guarulhos.head()

,INSCRICAO,MUNICIPIO,IDADE,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
4,"1,90E+11",Guarulhos,23,F,solteiro,branca,brasileiro(a),1,não_respondeu,NaN,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim
56,"1,90E+11",Guarulhos,17,F,solteiro,parda,brasileiro(a),2,pública,NaN,...,468.1,Espanhol,1.0,100.0,60.0,60.0,100.0,0.0,320.0,Sim
69,"1,90E+11",Guarulhos,27,M,solteiro,não_declarado,brasileiro(a),1,não_respondeu,NaN,...,743.8,Inglês,1.0,120.0,180.0,120.0,120.0,160.0,700.0,Sim
130,"1,90E+11",Guarulhos,28,F,solteiro,branca,brasileiro(a),1,não_respondeu,NaN,...,415.1,Inglês,1.0,160.0,120.0,160.0,120.0,100.0,660.0,Sim
202,"1,90E+11",Guarulhos,17,F,solteiro,parda,brasileiro(a),2,pública,35005824.0,...,594.9,Inglês,1.0,120.0,120.0,120.0,120.0,160.0,640.0,Sim

In [32]:
enem_bauru.head()

,INSCRICAO,MUNICIPIO,IDADE,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
477,"1,90E+11",Bauru,21,M,solteiro,branca,brasileiro(a),1,não_respondeu,NaN,...,664.1,Inglês,1.0,100.0,120.0,120.0,120.0,100.0,560.0,Sim
928,"1,90E+11",Bauru,17,M,solteiro,amarela,brasileiro(a),2,pública,35025240.0,...,740.3,Inglês,1.0,140.0,120.0,120.0,140.0,100.0,620.0,Sim
1070,"1,90E+11",Bauru,19,M,solteiro,branca,brasileiro(a),1,não_respondeu,NaN,...,789.2,Inglês,1.0,160.0,200.0,200.0,200.0,200.0,960.0,Sim
1235,"1,90E+11",Bauru,18,F,solteiro,parda,brasileiro(a),2,privada,35115435.0,...,71.5,Inglês,1.0,140.0,140.0,140.0,140.0,120.0,680.0,Sim
1506,"1,90E+11",Bauru,19,M,solteiro,branca,brasileiro(a),1,não_respondeu,NaN,...,533.8,Espanhol,1.0,120.0,140.0,120.0,100.0,140.0,620.0,Sim

In [33]:
len(enem_guarulhos)

15647

In [34]:
len(enem_bauru)

4171

In [35]:
enem_guarulhos.shape

(15647, 28)

In [36]:
enem_bauru.shape

(4171, 28)

In [37]:
len(enem_sp)

499940

In [38]:
# CRIAÇÃO DE FUNÇÃO DE  PROBALIDADE 
# Elementos do A é o número de elementos do grupo A e o B é o número de elementos da amostra.


def probab (A,E):
  resultado = (A/E)*100
  print('{:.2f}'.format(resultado))

In [39]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE GUARULHOS

probab (len(enem_guarulhos), len(enem_sp))

3.13

In [40]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE BAURU

probab (len(enem_bauru),len(enem_sp))

0.83

#Probabilidade de não ocorrer um evento

In [41]:
# CRIANDO FUNÇÃO PROBALIDADE DE NÃO OCORRER UM EVENTO

def probab_nao (A,E):
  resultado = (1- (A/E))*100
  print('{:.2f}'.format(resultado))

In [42]:
# ROBABILIDADE DE NÃO RETIRAR UM VESTIBULANDO DE GUARULHOS
probab_nao (len(enem_guarulhos),len(enem_sp))

96.87

In [43]:
# PROBABILIDADE DE NÃO RETIRAR UM VESTIBULANDO DE BAURU
probab_nao (len(enem_bauru),len(enem_sp))

99.17

In [44]:
# PROBABILIDADE DE NÃO RETIRAR UM VESTIBULANDO DE GUARULHOS E NEM DE BAURU
probab_nao (len(enem_guarulhos) + len(enem_bauru),len(enem_sp))

96.04

#**Probabilidade de União de Eventos**

##Probabilidade da união mutuamente exclusivos (AUB)

In [48]:
# CRIANDO FUNÇÃO PROBABILIDADE DA UNIÃO MUTUAMENTE EXCLUSIVOS (AUB) - Evento A, Evento B e E espeço amostral

def probab_uniao (A,B,E):
  resultado = (A/E + B/E)*100
  print('{:.3}'.format(resultado))

In [49]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE GUARULHOS OU DE BAURU

probab_uniao(len(enem_guarulhos),len(enem_bauru), len(enem_sp))

3.96

#Probabilidade da Intercecção de dois eventos
###Dois eventos independentes

In [52]:
# CRIANDO FUNÇÃO PROBABILIDADE DA INTERSECÇÃO DE DOIS EVENTOS

def probab_inter(A, B, E):
  resultado = (A/E * B/E)*100
  print('{:.3f}'.format(resultado))

In [53]:
# PROBABILIDADE DE RETIRAR UM VESTIBULANDO DE GUARULHOS E DE BAURU (com reposição)

probab_inter(len(enem_guarulhos),len(enem_bauru), len(enem_sp))

0.026

#Probabilidade Condicional
### Probabilidade de ocorrência do evento A **condicionada** ao evento B

In [54]:
# CRIANDO FUNÇÃO PROBABILIDADE CONDICIONAL

def probab_cond (AB, B):
  resultado = (AB /B)*100
  print('{:.2f}'.format(resultado))

In [55]:
# PROBAGILIDADE DE RETIRAR UMA MULHER PARDA

mulher = enem_sp.loc[enem_sp.SEXO == 'F']

In [56]:
mulher_parda = mulher.loc[mulher.RACA == 'parda']

In [59]:
mulher_parda.head(20)

,INSCRICAO,MUNICIPIO,IDADE,SEXO,ESTADO_CIVIL,RACA,NACIONALIDADE,TP_ST_CONCLUSAO,ESCOLA,CO_ESCOLA,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
1,"1,90E+11",São Paulo,17,F,solteiro,parda,brasileiro(a),2,privada,15567761.0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
3,"1,90E+11",Embu-Guaçu,17,F,solteiro,parda,brasileiro(a),2,pública,NaN,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
7,"1,90E+11",Santo André,20,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,508.5,Espanhol,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
9,"1,90E+11",Santo André,44,F,Casado/Mora com companheiro,parda,brasileiro(a),1,não_respondeu,NaN,...,488.1,Espanhol,1.0,120.0,120.0,120.0,120.0,40.0,520.0,Sim
11,"1,90E+11",Guará,17,F,solteiro,parda,brasileiro(a),2,pública,35023310.0,...,535.1,Inglês,1.0,140.0,120.0,140.0,160.0,120.0,680.0,Sim
13,"1,90E+11",Osasco,17,F,solteiro,parda,brasileiro(a),2,pública,35040770.0,...,423.8,Espanhol,1.0,140.0,120.0,120.0,140.0,0.0,520.0,Não
16,"1,90E+11",São Paulo,18,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,612.9,Inglês,1.0,160.0,200.0,160.0,180.0,180.0,880.0,Sim
19,"1,90E+11",Santos,29,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,544.9,Espanhol,1.0,120.0,120.0,100.0,100.0,80.0,520.0,Sim
25,"1,90E+11",Bertioga,26,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,649.8,Inglês,1.0,160.0,200.0,160.0,200.0,140.0,860.0,Sim
29,"1,90E+11",Novo Horizonte,19,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,448.1,Inglês,1.0,100.0,120.0,100.0,120.0,80.0,520.0,Sim
31,"1,90E+11",Campinas,19,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,73.1,Inglês,1.0,140.0,120.0,160.0,140.0,160.0,720.0,Sim
32,"1,90E+11",Cotia,19,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,432.9,Espanhol,1.0,100.0,120.0,120.0,100.0,140.0,580.0,Não
34,"1,90E+11",Águas de Lindóia,21,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,363.1,Espanhol,1.0,120.0,120.0,120.0,120.0,0.0,480.0,Sim
41,"1,90E+11",Barueri,21,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,458.8,Espanhol,1.0,160.0,120.0,160.0,160.0,180.0,780.0,Sim
44,"1,90E+11",Águas de Lindóia,17,F,solteiro,parda,brasileiro(a),2,pública,35017632.0,...,451.9,Inglês,1.0,140.0,120.0,140.0,160.0,160.0,720.0,Não
46,"1,90E+11",Igarapava,19,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,478.1,Espanhol,1.0,120.0,160.0,120.0,140.0,100.0,640.0,Sim
47,"1,90E+11",Mairinque,31,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,695.9,Espanhol,1.0,140.0,200.0,180.0,200.0,200.0,920.0,Sim
56,"1,90E+11",Guarulhos,17,F,solteiro,parda,brasileiro(a),2,pública,NaN,...,468.1,Espanhol,1.0,100.0,60.0,60.0,100.0,0.0,320.0,Sim
74,"1,90E+11",Socorro,23,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,469.2,Espanhol,1.0,160.0,200.0,180.0,160.0,80.0,780.0,Não
75,"1,90E+11",Santo André,24,F,solteiro,parda,brasileiro(a),1,não_respondeu,NaN,...,703.7,Espanhol,1.0,100.0,120.0,120.0,120.0,120.0,580.0,Sim

In [60]:
probab_cond(len(mulher_parda),len(mulher))

30.76